@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/blocks\/\*\.png}line{font-family:\0000356}}
.blocks-sprite {
  background-image: url('../img/blocks-sef69e0f7cb.png');
  background-repeat: no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\000031}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000319}}
html {
  -webkit-font-smoothing: antialiased;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000323}}
body {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000327}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000331}}
blockquote, q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000335}}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000344}}
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000349}}
ins {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000353}}
del {
  text-decoration: line-through;
}

/* tables still need "cellspacing="0"" in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000358}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000363}}
textarea {
  overflow: auto;
  /* for IE */
  resize: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000368}}
fieldset {
  border: 0 solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000372}}
input {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_reset\.scss}line{font-family:\0000376}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_global\.scss}line{font-family:\000033}}
html, body {
  height: 100%;
  min-width: 1024px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_global\.scss}line{font-family:\000038}}
html {
  font-size: 100.01%;
}

@-moz-keyframes glitch {
  0% {
    -moz-transform: skew(47deg);
    transform: skew(47deg);
  }
  5% {
    -moz-transform: skew(-53deg);
    transform: skew(-53deg);
  }
  10% {
    -moz-transform: skew(-16deg);
    transform: skew(-16deg);
  }
  15% {
    -moz-transform: skew(58deg);
    transform: skew(58deg);
  }
  20% {
    -moz-transform: skew(46deg);
    transform: skew(46deg);
  }
  25% {
    -moz-transform: skew(-1deg);
    transform: skew(-1deg);
  }
  30% {
    -moz-transform: skew(-19deg);
    transform: skew(-19deg);
  }
  35% {
    -moz-transform: skew(-78deg);
    transform: skew(-78deg);
  }
  40% {
    -moz-transform: skew(-50deg);
    transform: skew(-50deg);
  }
  45% {
    -moz-transform: skew(-23deg);
    transform: skew(-23deg);
  }
  50% {
    -moz-transform: skew(71deg);
    transform: skew(71deg);
  }
  55% {
    -moz-transform: skew(32deg);
    transform: skew(32deg);
  }
  60% {
    -moz-transform: skew(-7deg);
    transform: skew(-7deg);
  }
  65% {
    -moz-transform: skew(-19deg);
    transform: skew(-19deg);
  }
  70% {
    -moz-transform: skew(-38deg);
    transform: skew(-38deg);
  }
  75% {
    -moz-transform: skew(49deg);
    transform: skew(49deg);
  }
  80% {
    -moz-transform: skew(19deg);
    transform: skew(19deg);
  }
  85% {
    -moz-transform: skew(-10deg);
    transform: skew(-10deg);
  }
  90% {
    -moz-transform: skew(33deg);
    transform: skew(33deg);
  }
  95% {
    -moz-transform: skew(59deg);
    transform: skew(59deg);
  }
}
@-webkit-keyframes glitch {
  0% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  5% {
    -webkit-transform: skew(-62deg);
    transform: skew(-62deg);
  }
  10% {
    -webkit-transform: skew(37deg);
    transform: skew(37deg);
  }
  15% {
    -webkit-transform: skew(87deg);
    transform: skew(87deg);
  }
  20% {
    -webkit-transform: skew(-73deg);
    transform: skew(-73deg);
  }
  25% {
    -webkit-transform: skew(59deg);
    transform: skew(59deg);
  }
  30% {
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }
  35% {
    -webkit-transform: skew(-64deg);
    transform: skew(-64deg);
  }
  40% {
    -webkit-transform: skew(-56deg);
    transform: skew(-56deg);
  }
  45% {
    -webkit-transform: skew(44deg);
    transform: skew(44deg);
  }
  50% {
    -webkit-transform: skew(6deg);
    transform: skew(6deg);
  }
  55% {
    -webkit-transform: skew(-38deg);
    transform: skew(-38deg);
  }
  60% {
    -webkit-transform: skew(-56deg);
    transform: skew(-56deg);
  }
  65% {
    -webkit-transform: skew(-42deg);
    transform: skew(-42deg);
  }
  70% {
    -webkit-transform: skew(-86deg);
    transform: skew(-86deg);
  }
  75% {
    -webkit-transform: skew(58deg);
    transform: skew(58deg);
  }
  80% {
    -webkit-transform: skew(-89deg);
    transform: skew(-89deg);
  }
  85% {
    -webkit-transform: skew(-66deg);
    transform: skew(-66deg);
  }
  90% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }
  95% {
    -webkit-transform: skew(42deg);
    transform: skew(42deg);
  }
}
@keyframes glitch {
  0% {
    -moz-transform: skew(62deg);
    -ms-transform: skew(62deg);
    -webkit-transform: skew(62deg);
    transform: skew(62deg);
  }
  5% {
    -moz-transform: skew(73deg);
    -ms-transform: skew(73deg);
    -webkit-transform: skew(73deg);
    transform: skew(73deg);
  }
  10% {
    -moz-transform: skew(-50deg);
    -ms-transform: skew(-50deg);
    -webkit-transform: skew(-50deg);
    transform: skew(-50deg);
  }
  15% {
    -moz-transform: skew(-38deg);
    -ms-transform: skew(-38deg);
    -webkit-transform: skew(-38deg);
    transform: skew(-38deg);
  }
  20% {
    -moz-transform: skew(18deg);
    -ms-transform: skew(18deg);
    -webkit-transform: skew(18deg);
    transform: skew(18deg);
  }
  25% {
    -moz-transform: skew(84deg);
    -ms-transform: skew(84deg);
    -webkit-transform: skew(84deg);
    transform: skew(84deg);
  }
  30% {
    -moz-transform: skew(-31deg);
    -ms-transform: skew(-31deg);
    -webkit-transform: skew(-31deg);
    transform: skew(-31deg);
  }
  35% {
    -moz-transform: skew(83deg);
    -ms-transform: skew(83deg);
    -webkit-transform: skew(83deg);
    transform: skew(83deg);
  }
  40% {
    -moz-transform: skew(-70deg);
    -ms-transform: skew(-70deg);
    -webkit-transform: skew(-70deg);
    transform: skew(-70deg);
  }
  45% {
    -moz-transform: skew(72deg);
    -ms-transform: skew(72deg);
    -webkit-transform: skew(72deg);
    transform: skew(72deg);
  }
  50% {
    -moz-transform: skew(69deg);
    -ms-transform: skew(69deg);
    -webkit-transform: skew(69deg);
    transform: skew(69deg);
  }
  55% {
    -moz-transform: skew(50deg);
    -ms-transform: skew(50deg);
    -webkit-transform: skew(50deg);
    transform: skew(50deg);
  }
  60% {
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  65% {
    -moz-transform: skew(79deg);
    -ms-transform: skew(79deg);
    -webkit-transform: skew(79deg);
    transform: skew(79deg);
  }
  70% {
    -moz-transform: skew(47deg);
    -ms-transform: skew(47deg);
    -webkit-transform: skew(47deg);
    transform: skew(47deg);
  }
  75% {
    -moz-transform: skew(-12deg);
    -ms-transform: skew(-12deg);
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  80% {
    -moz-transform: skew(-35deg);
    -ms-transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    transform: skew(-35deg);
  }
  85% {
    -moz-transform: skew(34deg);
    -ms-transform: skew(34deg);
    -webkit-transform: skew(34deg);
    transform: skew(34deg);
  }
  90% {
    -moz-transform: skew(-48deg);
    -ms-transform: skew(-48deg);
    -webkit-transform: skew(-48deg);
    transform: skew(-48deg);
  }
  95% {
    -moz-transform: skew(42deg);
    -ms-transform: skew(42deg);
    -webkit-transform: skew(42deg);
    transform: skew(42deg);
  }
}
@-moz-keyframes noise {
  0% {
    background-position: -31px 66px;
  }
  10% {
    background-position: 13px 7px;
  }
  20% {
    background-position: 77px 89px;
  }
  30% {
    background-position: -11px -31px;
  }
  40% {
    background-position: 44px -50px;
  }
  50% {
    background-position: -34px 21px;
  }
  60% {
    background-position: 96px -70px;
  }
  70% {
    background-position: -38px -79px;
  }
  80% {
    background-position: 0px -46px;
  }
  90% {
    background-position: 72px 28px;
  }
}
@-webkit-keyframes noise {
  0% {
    background-position: 30px -47px;
  }
  10% {
    background-position: -62px 76px;
  }
  20% {
    background-position: 4px 18px;
  }
  30% {
    background-position: 62px 16px;
  }
  40% {
    background-position: -30px 27px;
  }
  50% {
    background-position: 72px -7px;
  }
  60% {
    background-position: 67px -87px;
  }
  70% {
    background-position: -88px 24px;
  }
  80% {
    background-position: -78px -76px;
  }
  90% {
    background-position: 98px -8px;
  }
}
@keyframes noise {
  0% {
    background-position: -95px -40px;
  }
  10% {
    background-position: 3px 84px;
  }
  20% {
    background-position: 90px 56px;
  }
  30% {
    background-position: -47px -96px;
  }
  40% {
    background-position: 77px 30px;
  }
  50% {
    background-position: 64px -76px;
  }
  60% {
    background-position: -77px -93px;
  }
  70% {
    background-position: 70px 0px;
  }
  80% {
    background-position: -83px -80px;
  }
  90% {
    background-position: 60px 53px;
  }
}
@-moz-keyframes bar {
  0% {
    height: 416px;
    top: 63%;
    opacity: 0.06;
  }
  10% {
    height: 601px;
    top: 27%;
    opacity: 0.18;
  }
  20% {
    height: 203px;
    top: 84%;
    opacity: 0.45;
  }
  30% {
    height: 624px;
    top: 44%;
    opacity: 0.34;
  }
  40% {
    height: 359px;
    top: 5%;
    opacity: 0.71;
  }
  50% {
    height: 261px;
    top: 15%;
    opacity: 0.39;
  }
  60% {
    height: 616px;
    top: 93%;
    opacity: 0.13;
  }
  70% {
    height: 221px;
    top: 78%;
    opacity: 0.22;
  }
  80% {
    height: 399px;
    top: 39%;
    opacity: 0.16;
  }
  90% {
    height: 370px;
    top: 90%;
    opacity: 0.09;
  }
}
@-webkit-keyframes bar {
  0% {
    height: 215px;
    top: 39%;
    opacity: 0.56;
  }
  10% {
    height: 212px;
    top: 94%;
    opacity: 0.59;
  }
  20% {
    height: 612px;
    top: 66%;
    opacity: 0.38;
  }
  30% {
    height: 90px;
    top: 22%;
    opacity: 0.23;
  }
  40% {
    height: 73px;
    top: 4%;
    opacity: 0.27;
  }
  50% {
    height: 466px;
    top: 6%;
    opacity: 0.65;
  }
  60% {
    height: 469px;
    top: 99%;
    opacity: 0.5;
  }
  70% {
    height: 588px;
    top: 27%;
    opacity: 0.79;
  }
  80% {
    height: 484px;
    top: 81%;
    opacity: 0.41;
  }
  90% {
    height: 273px;
    top: 96%;
    opacity: 0.26;
  }
}
@keyframes bar {
  0% {
    height: 610px;
    top: 15%;
    opacity: 0.32;
  }
  10% {
    height: 579px;
    top: 25%;
    opacity: 0.08;
  }
  20% {
    height: 49px;
    top: 17%;
    opacity: 0.46;
  }
  30% {
    height: 51px;
    top: 62%;
    opacity: 0.73;
  }
  40% {
    height: 422px;
    top: 25%;
    opacity: 0.7;
  }
  50% {
    height: 485px;
    top: 31%;
    opacity: 0.21;
  }
  60% {
    height: 488px;
    top: 76%;
    opacity: 0.67;
  }
  70% {
    height: 69px;
    top: 66%;
    opacity: 0.17;
  }
  80% {
    height: 591px;
    top: 10%;
    opacity: 0.66;
  }
  90% {
    height: 585px;
    top: 83%;
    opacity: 0.62;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_noize\.scss}line{font-family:\0000332}}
.glitch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  background-image: url('../img/blocks/whitenoise-base.png?1411797065');
  text-shadow: 2px 0 1px #f6050a, -2px 0 1px #1cf2f2;
  -moz-animation: noise 0.2s infinite;
  -webkit-animation: noise 0.2s infinite;
  animation: noise 0.2s infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_noize\.scss}line{font-family:\0000345}}
.glitch:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/wart\/webdev\/\!cat_dev\/\!cat\/styles\/_noize\.scss}line{font-family:\0000351}}
.glitch:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background-image: url('../img/blocks/whitenoise-additional.png?1411797214');
  -moz-animation: bar 0.9s infinite;
  -webkit-animation: bar 0.9s infinite;
  animation: bar 0.9s infinite;
}
