@import "compass/css3";

html, body {
	height:100%;
	min-width: 1024px;
	font-family:'Open Sans';font-style:normal;
	font-weight:700;
}

html {
	font-size: 100.01%;
}

.header {
	font-size: 16rem;
	display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.subheader {
	font-size: 6rem;
	color: #f48f8f;
}