$keys: 20;
$range: 180;

@include keyframes(glitch) {
  @for $frame from 0 to $keys {
    #{$frame * 100 / $keys + "%"} {
      $deg: random($range) - $range * 0.5 + deg;
      @include transform(skew($deg));
    }
  }
}


@include keyframes(noise) {
  @for $frame from 0 to 10 {
    #{$frame * 10%} {
      background-position: -100 + random(200) + px -100 + random(200) + px;
    }
  }
}

@include keyframes(bar) {
  @for $frame from 0 to 10 {
    #{$frame * 10%} {
      height: random(600) + 30px;
      top: random(100) * 1%;
      opacity: random(80) * 0.01;
    }
  }
}

.glitch {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  background-image: image-url("blocks/whitenoise-base.png");
  @include text-shadow(2px 0 1px #f6050a, -2px 0 1px #1cf2f2);
  @include animation(noise 0.2s infinite);
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-image: image-url("blocks/whitenoise-additional.png");
    @include animation(bar 0.9s infinite);
  }
}
